@font-face {
    font-family: 'signikabold';
    src: url('../fonts/signika-bold-webfont.woff2') format('woff2'),
         url('../fonts/signika-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'signikaregular';
    src: url('../fonts/signika-regular-webfont.woff2') format('woff2'),
    url('../fonts/signika-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'remachine_script_personal_uRg';
    src: url('../fonts/remachinescript_personal_use-webfont.woff2') format('woff2'),
    url('../fonts/remachinescript_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: signikaregular;
}

h1,h2,h3,h4,h5,h6{
    font-family: sans-serif;

}

.navbar{
    background-color: #212529 !important;
    font-family: signikabold;
    font-size: 1.5em;
}

.navbar-brand{
    font-family: sans-serif;
    font-size: 2em;
    color: white !important;
}

.nav-link{
    color: white !important;
}

.fa-user, .bg-yellow {
    color: #ffd271;
    font-size: 1.3em;
}
.fa-clock, .bg-green{
    color: #c3f584;
    font-size: 1.3em;
}

.cursor:hover{
    cursor: pointer;
}


